.Tracklist {
    width: 100%;
}

.Track {
    border-bottom: 1.75px dashed #4d2020;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.5rem 0 1.5rem 0;
}

.Track  {
    font-size: 1rem;
}

.NoPreview {
    font-size: 0.8rem;
    color: gray;      /* Subtle color to de-emphasize */
    margin-top: 3rem;
}

.Track button {
    cursor: pointer;
    align-items: center;
    padding-left: 3rem;
    margin-left: 3rem;
    font-size: 1rem;
    transition: color .25s;
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
}